/* fondos */

.imagenFondoBienvenida {
    background-image: url("../assets/bienvenida.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagenFondoProductos {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-17.png'), url('../assets/pintura-transparente-6.webp'), url('../assets/pintura-transparente-14.png!sw800'), url('../assets/pintura-transparente-1.webp'), url('../assets/pintura-transparente-4.png!f305cw'), url('../assets/pintura-transparente-11.webp'), url('../assets/pintura-transparente-12.webp'), url('../assets/pintura-transparente-13.png'), url('../assets/pintura-transparente-15.png'), url('../assets/pintura-transparente-16.png!bw700'), url('../assets/pintura-transparente-7.webp'), url('../assets/pintura-transparente-8.webp');
    background-position: top center, 100% 8%, 83% 14%, 29% 25%, 45% 34%, 100% 42%, 30% 51%, 80% 60%, 80% 69%, 50% 78%, 50% 86%, 50% 94%, bottom center;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1300px 650px, 900px 900px, 1400px 400px, 700px 700px, 1000px 600px, 800px 500px, 1400px 400px, 1400px 700px, 700px 500px, 1400px 400px, 700px 400px, 1400px 400px;
    
}

.imagenFondoDesoxidantes {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-13.png');
    background-position: top center, 80% 220%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 700px;
}

.imagenFondoAnticorrosivos {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-17.png'), url('../assets/pintura-transparente-12.webp');
    background-position: top center, 100% 50%, 20% 90%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1300px 650px, 1200px 300px;
}



.imagenFondoCauchoClorado1 {
    background: url('../assets/bienvenida-productos-3.jpg'),url('../assets/pintura-transparente-1.webp'), url('../assets/pintura-transparente-14.png!sw800');
    background-position: top center,65% 24%, 29% 110%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 700px 700px, 1400px 400px;
}

.imagenFondoRevestimientosPoliuretanos {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-6.webp'), url('../assets/pintura-transparente-1.webp'), url('../assets/pintura-transparente-11.webp');
    background-position: top center, -25% 75%, 100% 150%, 115% 50%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 800px 800px, 700px 700px, 650px 350px;
}

.imagenFondoRevestimientoFrigorifico {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-16.png!bw700'), url('../assets/pintura-transparente-8.webp');
    background-position: top center, 50% 46%, 50% 110%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 400px, 1400px 400px;
}

.imagenFondoCauchoClorado2 {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-17.png'), url('../assets/pintura-transparente-8.webp');
    background-position: top center, 100% 55%, 50% 105%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1300px 650px, 1400px 400px;
}

.imagenFondoUsosEspeciales {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-13.png'), url('../assets/pintura-transparente-16.png!bw700');
    background-position: top center, 80% 40%, 50% 86%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 700px, 1400px 400px;
}

.imagenFondoAluminio {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-6.webp'), url('../assets/pintura-transparente-15.png');
    background-position: top center, 120% 35%, 30% 105%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 900px 900px, 700px 500px;
}

.imagenFondoImpermeabilizante {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-14.png!sw800');
    background-position: top center, 29% 80%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 500px;
}

.imagenFondoEsmaltesEspecificos {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-8.webp'), url('../assets/pintura-transparente-17.png');
    background-position: top center, 50% 45%, 80% 110%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 400px, 1300px 650px;
}

.imagenFondoVarios {
    background: url('../assets/bienvenida-productos-3.jpg'), url('../assets/pintura-transparente-16.png!bw700');
    background-position: top center, 40% 77%;
    background-repeat: no-repeat;
    background-size: 1400px 460px, 1400px 400px;
}

/*header styles */

.header__navLogo {
    max-width: 80%;
}

/* nav styles */





/*Main styles */

.main__divStart--estilos {
    width: 50%;
    height: auto;
    margin: 4rem 0rem 4rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);    
}

.main__divMid--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.main__divMid2--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

/*productos styles */

.main__productCard {
    position: relative;
    height: 16rem;
    margin: 1rem .5rem 1rem .5rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 35px;
    box-shadow: 20px 15px 3px 0px rgba(0, 0, 0, 0.4);
    

    &:hover {
        transition: 0.8s;
        transform: scale(1.1);
    }
}

.main__productCard--h2 {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__letraH2 {
    font-size: 1rem;
    line-height: 1.3rem;
}

.main__productCard-botonInfo {
    border-radius: 25% 0% 35px 0%;
}


/* prueba del detail container para la informacion de los productos */

.deslizContenedor {
    position: fixed;
    top: 0;
    right: -1400px;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    transition: right 0.5s;
    z-index: 99999;
    
}

.deslizContenedor::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -270px;
    width: 180%;
    height: 130%;
    background-image: url("../assets/pintura-transparente-8.webp");
    background-size: 1000px 500px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    z-index: -1;
}



.deslizContenedor.open {
    right: 0;
    
}

.deslizContenido {
    padding: 20px;
    z-index: 1;
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonDetailContainer {
    position: absolute;
    top: 30px;
    left: -30px;
    height: 50px;
    border-radius: 40%;
}

.alturaContenedor {
    flex-basis: 5%;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.842));
    backdrop-filter: blur(3px);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alturaContenedor-img {
    flex-basis: 20%;
    width: 60%;
    border-radius: 30%;
}

.alturaContenedor-descripcion {
    flex-basis: 10%;

}
