.main__img--responsive {
    width: 100%;
    max-width: 100%;
}

.main__divStart--estilos {
    width: 50%;
    height: auto;
    margin: 4rem 0rem 4rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.main__divMid--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    
}

.main__divMid2--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.divPruebaFondo {
    background-image: url('https://purina.com.pe/sites/default/files/styles/webp/public/2022-10/Que_debes_saber_antes_de_adoptar_un_gatito.jpg.webp?itok=N2sS0lfp');
    background-repeat: no-repeat;
}