
.main__divStart--estilos {
    width: 50%;
    height: auto;
    margin: 4rem 0rem 4rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);

    @include small {
        width: 70%;
    }
}

.main__divMid--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    
}

.main__divMid2--estilos {
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}


//clases para el responsiv

//large
.main__responsive--start{
    @include large {
        padding: 1rem;
    }
}

.main__responsive--mid {
    @include large {
        width: 57%;
    }

    @include small {
        width: 65%;
        
    }
}
.main__responsive--mid2 {
    @include large {
        width: 36%;
    }
    @include medium {
        width: 40%;
    }

    @include small {
        width: 70%;
    }
}


.main__responsive--midFlex {
    @include medium {
        flex-direction: column;
    }
}

.main__responsive--midUl {
    @include medium {
        padding-left: 5rem;
    }
}

.main__responsive--midLi {
    @include medium {
        width: 80%;
    }
}

//medium


// small



//@include (nombre del mixin) {  }