.footer {
    width: 30%;
    margin: 0 auto;
    background-color: #f0f0f000;
    
    @include large {
        width: 31%;
    }

    @include medium {
        width: 39%;
    }

    @include small {
        width: 100%;
    }
}

.footer__redesBorde {
    border-radius: 25% 25% 0% 0%;
}