.header {
    background-color: #f0f0f000;
}
.body__bgImg {
    background-image: url("../../src/bienvenida.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header__navLogo {
    max-width: 80%;
}