.header {
    background-color: #f0f0f000;

    @include small {
        width: 90%;
    }
}

.header__nav--responsive {
    @include small {
        justify-content: space-around;
    }
}

.header__navLogo {
    max-width: 80%;

    

    @include medium {
        max-width: 90%;
    }

    @include small {
        max-width: 100%;
        margin-left: 2rem;
    }
}

//clases para el responsive


.header__responsive--productos {
    @include large {
        width: 8.77%;
    }

    @include medium {
        width: 10.77%;
    }

    @include small {
        width: 13%;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}










//@include (nombre del mixin) {  }