* {
  margin: 0rem;
  padding: 0rem;
}

.header {
  background-color: rgba(240, 240, 240, 0);
}

.body__bgImg {
  background-image: url("../../src/bienvenida.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header__navLogo {
  max-width: 80%;
}

.footer {
  width: 30%;
  margin: 0 auto;
  background-color: rgba(240, 240, 240, 0);
}

.footer__redesBorde {
  border-radius: 25% 25% 0% 0%;
}

.main__img--responsive {
  width: 100%;
  max-width: 100%;
}

.main__divStart--estilos {
  width: 50%;
  height: auto;
  margin: 4rem 0rem 4rem 0rem;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 40px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.main__divMid--estilos {
  width: 100%;
  height: auto;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 40px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.main__divMid2--estilos {
  width: 100%;
  height: auto;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 40px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.divPruebaFondo {
  background-image: url("https://purina.com.pe/sites/default/files/styles/webp/public/2022-10/Que_debes_saber_antes_de_adoptar_un_gatito.jpg.webp?itok=N2sS0lfp");
  background-repeat: no-repeat;
}

.productosBody__bg {
  background: url("../src/bienvenida-productos-3.jpg"), url(../src/images/pintura-transparente-17.png);
  background-position: top center, 100% 8%;
  background-repeat: no-repeat;
  background-size: 1400px 620px, 1300px 650px;
}

/*
 ../../src/images/bienvenida-productos-3.jpg
 , url(../../src/images/pintura-transparente-17.png), url(../../src/images/pintura-transparente-6.webp), url(../../src/images/pintura-transparente-14.png!sw800), url(../../src/images/pintura-transparente-1.webp), url(../../src/images/pintura-transparente-4.png!f305cw), url(../../src/images/pintura-transparente-11.webp), url(../../src/images/pintura-transparente-12.webp), url(../../src/images/pintura-transparente-13.png), url(../../src/images/pintura-transparente-15.png), url(../../src/images/pintura-transparente-16.png!bw700), url(../../src/images/pintura-transparente-7.webp), url(../../src/images/pintura-transparente-8.webp)
 , 100% 8%, 83% 14%, 29% 25%, 45% 34%, 100% 42%, 30% 51%, 80% 60%, 80% 69%, 50% 78%, 50% 86%, 50% 94%, bottom center
 , 1300px 650px, 900px 900px, 1400px 400px, 700px 700px, 1000px 600px, 800px 500px, 1400px 400px, 1400px 700px, 700px 500px, 1400px 400px, 700px 400px, 1400px 400px







 */
.main__productCard {
  height: 20rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 35px;
  box-shadow: 20px 15px 3px 0px rgba(0, 0, 0, 0.4);
}
.main__productCard:hover {
  transition: 0.8s;
  transform: scale(1.1);
}

.alturaCard {
  height: 19rem;
  display: flex;
  flex-direction: column;
}

.alturaDescripcion {
  height: 19rem;
  align-content: center;
}

.main__productCard--contenedorH2 {
  height: 14rem;
  display: flex;
  align-items: center;
}

.main__productCard--h2 {
  font-size: 1rem;
  line-height: 1.3rem;
}

.main__productCard-botonInfo {
  border-radius: 25% 0% 35px 0%;
}

.main__productCard-botonVolver {
  border-radius: 0% 25% 0% 35px;
}

.descripcion {
  display: none;
}

.animacion {
  animation: flip 1s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
